/.venv
/ProjectBackup
*.zip
*.db
drafting_tools.db
backup/master_drafting_tools.db

__pycache__/database_setup.cpython-313.pyc

drafting_tools.db-wal
drafting_tools.db-shm
# Log files
logs/
*.log
*.log.*
logs/*




__pycache__/database_setup.cpython-313.pyc
__pycache__/database_setup.cpython-313.pyc
__pycache__/date_picker.cpython-313.pyc
__pycache__/settings.cpython-313.pyc
